/* ------------------------------------------------
This file is what you will change to your design specs (Don't delete from this file these variables are needed just alter their values or add to the file)
--------------------------------------------------- */

/* ---------- Color ----------------- */
$black:#33313a;
$white:#fff;
$tan:#fff7de;
$red:#f4504d;

/* ---------- Type ----------------- */
$font-1: "Helvetica",sans-serif;

/* ---------- A little Math you might not need to touch this ----------------- */
$ab-ctr:48em;
$half-ab-ctr: -($ab-ctr / 2);